<div class="navbar-games">
    <nav><a routerLink="/"><img class="navbar-games_imgG" src="assets/games.png" alt=""></a></nav>
    <div><img class="navbar-games_imgP" src="assets/game.png" alt=""></div>
   
</div>
<div class="navbar">
    <div>
        <nav>
            <button class="navbar-button"><a routerLink="/memory">Memory</a></button>
            <button class="navbar-button"><a routerLink="/martillo">Martillo</a></button>
            <button class="navbar-button"><a routerLink="/tesoro">Tesoro</a></button>
            <!-- <button class="navbar-button"><a routerLink="/whoiswho">Who is Who</a></button> -->
        </nav>
    </div>    
</div>
